{% extends "layout.html" %}

{% block body %}
    <form method='POST'>
      <div class='col-7 mx-auto mt-5'>
      <div class="form-group mx-auto">
        <label for="exampleFormControlTextarea1">,<h3>Enter the sentence to know your aura!</h3></label>
        <textarea class="form-control" id="texts" name="text" rows="4" required></textarea>
        <button class="btn btn-primary  mt-4" type="submit" id="butt">Submit</button>
        <br>
        <label id="keys" >{{keys}}</label>
        <br>
        <label id="text"> {{text}}</label>
      </div>
      </div>
    </form>
    {% endblock %}